body{
    background-color: bisque;
}
h1{
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p1{
    font-size: 20px;
}

p2{
    font-size: 20px;
}